.superSpan{
    color: #f66d52;
    font-size: 2em;
    font-weight: bold;
    padding: 20px 0;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.superSpan:hover{
    color: #ffa000;
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
}

.title{
    display: block;
    text-align: center;
}