.pasRecContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    row-gap: 10px;

    form{
        min-width: 300px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .buttonContainer{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            justify-content: center;
            align-items: center;
        }
    }
}